{% extends 'base.html' %}
{% block title %}{{ block.super }} | Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Query</h1>
        <form action="{% url 'result'%}" method="post">
            {% csrf_token %}
            <div class="row padding-top">
                <div class="col-xs-10">
                    <input type="text" class="form-control" placeholder="Ex. list all document names" name="query" id="query">
                </div>
                <input class="btn btn-success col-xs-2" type="submit" value="Go" id="go" />
                <input type="text" name="json" id="json" style="display:none;"/>
            </div>
        </form>
    </div>
    {% load staticfiles %}
    <script src="{% static "awesomplete-gh-pages/awesomplete.js" %}"></script>
    <script src="{% static "js/queryScript.js" %}"></script>
{% endblock %}