{% extends 'base.html' %}
{% block title %}{{ block.super }} | Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Query</h1>
        <div class="panel panel-default margin-top">
            <div class="panel-heading"><b>Examples of query</b></div>
            <div class="panel-body">
                {% load staticfiles %}
                <img src="{% static "image/query-example.png" %}" class="example-query-image"/>
                <p>Other examples</p>
                    <b>show the number of document that mentions each person:</b> x={person}, y={number of doc}<br>
                    <b>show the number of person mentioned by each document:</b> x={document}, y={number of person}<br>
            </div>
        </div>
        <form action="{% url 'result'%}" method="post">
            {% csrf_token %}
            <div class="row padding-top">
                <div class="col-xs-10">
                    <input type="text" class="form-control" placeholder="Ex. show the number of document written by each person" name="query" id="query">
                </div>
                <input class="btn btn-success col-xs-2" type="submit" value="Go" id="go" />
                <input type="text" name="json" id="json" style="display:none;"/>
            </div>
        </form>
    </div>
    {% load staticfiles %}
    <script src="{% static "awesomplete-gh-pages/awesomplete.js" %}"></script>
    <script src="{% static "js/queryScript.js" %}"></script>
{% endblock %}